*{
	box-sizing: border-box;
	font-family: sans-serif;
}

body{
    
    margin:0;
	padding:0;
	background-color: white;
	margin-bottom: 5%;
	min-height: 400px;

	


}

/* header section starts */

li, a , button {
	font-family: sans-serif;
	font-weight: 500;
	font-size: 1.3rem;
	color: lightslategray;
	text-decoration: none;
	list-style-type: none;

}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid 2px lightgrey;
}

.logo{
	cursor: pointer;
	
	
}
.nav-link{
	list-style: none;
	
}

.nav-link li {
	display: inline-block;
	margin: 1em;
}

.nav-link li a {
	transition: all 0.8s ease 0s;
	padding: 1em;
}

.nav-link li a:hover {
	color: white;
	background-color: black;
	border-radius: 50%;

}





/*header section ends */






/* content section begins */

/*  SECTIONS  */
.content {
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-rows: 1fr;
	grid-column-gap: 2%;
	grid-row-gap: 0px;
	height:100vh;
	}
	



	.web{
		font-size: 1.8rem;
		margin:3%;
		padding: 1%;
		
	}

	h2{
		text-align: center;
		text-decoration: underline;
	}

	.controller{
		border: solid black 1px;
		margin: 1%;
		display: flex;
		justify-content: center;
	}

	.logo2{
		border: solid black 1px;
		margin: 1%;
		display: flex;
		justify-content: center;
		
	}
	
/* content section ends */

footer {
	display:flex;
	background-color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 5vh;
	width: 100%;
	border-top: 2px solid lightgray;
	justify-content:center;
	align-items:center;
	
	 
	
	}
	 
	 .phone {
	   
	   font-size: .8rem;
	margin:auto;
	 }
	 
	 .address {
	   
	   font-size: .8rem;
	 margin:auto;
	 }

	 .copyright{
		display: flex;
		padding-right:2%;
		font-size: .8rem;
	 }

	 /* footer ends */

	 /*table begins */

	 #table{
        width: 100%;
		
        
        
      }
      
      
      
      
       th, td{
        border: 1px solid black;
		
        
      }
      
      .hrow {
        text-align: left;
      }
      
      thead, tbody{
        border: 1px solid black;
        
      }
      
      th{
        border: 1px solid black;
        color: white;
        background-color: black;
      }
      
      tr:nth-of-type(even){
        background-color: #ccc;
		font-size: 1.4rem;
      }
      tr:nth-of-type(odd){
        background-color: white;
		font-size: 1.4rem;
      }

	  @media only screen and (max-width: 768px) {
		/* For mobile phones: */
		.content {
			display:block;
		  	width: 100%;
		}

		.logo{
			display: block;
			margin:0 auto;
		}
		header{
			display: block;
			background-color: black;
			
			
		}

		ul.nav-link{
			padding:0;
			text-align: center;
		}

		footer{
			height:5vmax;
		}

		.nav-link li a:hover{
			color:black;
			background-color: white;
		}

		li, a , button{
			color:white;
		}
	  }
